.textContainer {
  padding: 80px 90px;
  row-gap: 18px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 959px;
  position: relative;

  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: radial-gradient(
                    50% 50% at 50% 50%,
                    #007aff 0%,
                    rgba(0, 0, 0, 0) 100%
    );
  }
}
