@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #000;
  --background-secondary: rgba(0, 0, 0, 0.5);
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.8);
  --text-description: #aeaeb2;
  --text-third: #6e6e73;
  --button-primary: #007aff;
  --video-header: #fff;
  --video-title: #3d3d3d;
  --font-primary: 'Roboto', sans-serif;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}
