@import '#/functions.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-left: 82px;
  padding-right: 59px;
  padding-block: 30px;
  backdrop-filter: blur(15px);

  .logoImage {
    height: 42px;
    width: 150px;
  }

  .linksContainer {
    display: flex;
    align-items: center;

    a {
      padding: 8px 32px;
      font-family: var(--font-primary);
      font-size: 22px;
      font-weight: 500;
      line-height: 109%;
      color: var(--text-secondary);
    }
  }
}
