.resultsTextContainer {
  row-gap: 34px;
  align-items: center;
  width: 814px;

  &[data-margin="true"] {
    margin-top: 50px;
  }

  .resultsTitle {
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
  }
}
